<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
<title>
Recent Posts — FPSD
</title>
</head>
<body class="terminal">
  <div class="container">
    <section>
      <div class="terminal-nav">
        <div class="terminal-logo">
          <div class="logo terminal-prompt">
            <a href="/">
              FPSD
            </a>
          </div>
        </div>
        <nav class="terminal-menu">
          <ul>
            <li>
              <a href="/rss.xml">
                RSS
              </a>
            </li>
            <li>
              <a href="https://gitlab.com/fpischedda/fp-site">
                Project sources
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
  <div class="container">{% block content %}{% endblock %}</div>
</body>
