{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Recent Posts</h3>
  {% set section = get_section(path="blog/_index.md") %}
  <ul>
  {% for page in section.pages %}
    <li><a href="{{page.path}}">{{page.title}} - {{page.date}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
